# This is a basic workflow to try to build https://github.com/salvogiangri/UN1CA under Github Actions

name: "unica.yml - A attempt to build UN1CA under Github Actions"

on:
  workflow_dispatch:
    inputs:
      device:
        description: "Select a device"
        required: true
        default: "a05s"
        type: choice
        options:
          - "a05s"
      notify_telegram_channel:
        description: "Notify the Telegram Channel (Make sure you set up the secrets with variable named: TELEGRAM_BOT_TOKEN, TELEGRAM_CHAT_ID)"
        required: true
        default: false
        type: boolean

permissions:
  contents: write

jobs:
  build:
    name: "Build UN1CA"
    runs-on: ubuntu-24.04
    steps:
        - name: "Checkout"
          uses: actions/checkout@v2
          
        - name: "Free disk space (1/3)"
          run: |
            sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
            sudo docker image prune --all --force
            sudo docker builder prune -a

        - name: "Free disk space (2/3)"
          uses: jlumbroso/free-disk-space@main
          with:
            tool-cache: true

        - name: "Free disk space (3/3)"
          uses: rokibhasansagar/slimhub_actions@main
          with:
            retain: 'compiler_cmake'

        - name: "Set up dependencies"
          run: |
            sudo apt update
            sudo apt upgrade -y
            DEBIAN_FRONTEND=noninteractive sudo apt install -yq \
              7zip attr ccache clang ffmpeg \
              libbrotli-dev libgtest-dev libprotobuf-dev libunwind-dev libpcre2-dev \
              libzstd-dev linux-modules-extra-$(uname -r) lld protobuf-compiler webp openjdk-17-jdk
            sudo modprobe erofs f2fs

        - name: "Clone forked repo"
          run: |
            git clone --recurse-submodules https://github.com/furbanoramos21-testing/UN1CA UN1CA

        - name: "Build it!"
          run: |
            cd UN1CA
            source buildenv.sh --debug ${{ github.event.inputs.device }}
            run_cmd make_rom
            cd ..
          continue-on-error: true

        - name: "Pull Finished ROM"
          run: |
            mkdir out
            echo "Checking out directory"
            ls UN1CA/out
            echo "Ok, now copying to new out directory"
            cp UN1CA/out/*.zip out

        - name: "To Github Artifact"
          uses: actions/upload-artifact@v4
          with:
            name: "Test-${{github.run_id}}-artifacts"
            path: |
              out/*.zip

        - name: "Notify Telegram Channel"
          if: ${{ github.event.inputs.notify_telegram_channel == 'true' }}
          uses: appleboy/telegram-action@master
          with:
            to: ${{ secrets.TELEGRAM_CHAT_ID }}
            token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
            message: |
              Bomb Build Completed
              Action ID: ${{ github.run_id }}
              Device: ${{ github.event.inputs.device }}
     

